<%- include('header') -%>
    <h1>Editar película</h1>
    <form action="/movies/edit/<%= movie.id %>?_method=PUT" method="POST">
        <div>
            <label for="">Tí­tulo</label>
            <input type="text" name="titulo" value="<%= movie.title %>">
        </div>
        <div>
            <label for="">Premios</label>
            <input type="text" name="premios" value="<%= movie.awards %>">
        </div>
        <div>
            <label for="">Duración</label>
            <input type="text" name="duracion" value="<%= movie.length %>">
        </div>
        <div>
            <label for="">Rating</label>
            <input type="text" name="rating" value="<%= movie.rating %>">
        </div>
        <div>
            <label for="">Fecha de estreno</label>
            <input type="date" name="fecha_estreno" value="<%= toto %>">
        </div>
        <div>
            <label for="">Género</label>
            <select name="genero" id="">
                <% for (let i = 0; i < generos.length; i++) { %>
                    <% if (generos[i].id == movie.genre_id) { %>
                        <option value="<%= generos[i].id %>" selected>
                            <%= generos[i].name %>
                        </option>
                    <% } else { %>
                        <option value="<%= generos[i].id %>">
                            <%= generos[i].name %>
                        </option>
                    <% } %>
                <% } %>
            </select>
        </div>
        <button type="submit">Guardar!</button>
    </form>
<%- include('footer') -%>